@import "~bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Reenie+Beanie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


//COMPONENTE
.strike{
    text-decoration: line-through;
    color: #284283;
}
li{
    font-family:"Reenie Beanie",arial,sans-serif;
    font-size: 2rem;
    list-style: none;
    display:flex;
    margin-top: 4px;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
	padding:1.1rem 1rem;
	justify-content:space-between;
	align-items:center;
    background: rgba(251, 227, 100, 0.5);
    border-bottom: rgba(255,255,255,1);
    color: #284283;
}
li:last-child {
  margin-bottom: 0.5rem;
}
li:first-child {
  margin-top: 0.5rem;
}
i {
    margin: 0 0.3rem;
    color: grey;
    cursor: pointer;
}
.input{
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border: none;
    margin-top: 0.5rem;
    background-color: rgba(251, 227, 100, 0.5);
}
.input:focus{
    outline: none;
}
.input[type="text"]{
    font-family:"Reenie Beanie",arial,sans-serif;
    color: #284283;
    font-size: 2rem;
}
.input::-webkit-input-placeholder {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3rem;
}
.fas {
    color: white;
    font-size: 1rem;
}
.button_findList{
    background-color: #e091c2;
    border-radius: 0px;
    color: whitesmoke;
}
.button_findList:hover{
    background-color: #dd63ae;
    border: #dd63ae;
    border-radius: 0px;
    color: whitesmoke;
    transform: translateX(2px);
}
.button_createList{
    background-color: #00b5ff;
    border-radius: 0px;
    color: whitesmoke;
}
.button_createList:hover{
    background-color: #169ed4;
    border-radius: 0px;
    color: whitesmoke;
    transform: translateX(2px);
}
.button_deleteList{
    background-color: #00ff5d;
    border-radius: 0px;
    color: whitesmoke;
}
.button_deleteList:hover{
    background-color: #1acc5b;
    border-radius: 0px;
    color: whitesmoke;
    transform: translateX(2px);
}

//ESTRUCTURA
body{
    background-image: url(https://images.pexels.com/photos/399161/pexels-photo-399161.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    font-family: 'Open Sans', sans-serif;
    font-size: 2rem;
}
.todoList{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
form{
    background-color: #E2CC5A;
    padding-bottom: 0.5rem;
}
h1{  
    text-align: center;
    border-radius: 0.7rem 0.7rem 0 0;
    margin-bottom: 0;
}
ul {
    margin-bottom: 0;
    background-color: #E2CC5A;
}
.buttons {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 0.5rem;
    border-radius: 0 0 0.7rem 0.7rem;
}

//MODAL
.modal-content{
    border-radius: 0px;
    border:none;
    background-color: #E2CC5A;
}

.modal_header{
    background-color: #E2CC5A;
    border:none;
}

.modal_input{
    background-color:rgba(251, 227, 100, 0.5);
    margin-left: 3rem;
    border: none;
    width: 75%;
    height: 2.5rem;
}

.modal_input:focus{
    outline: none;
}

.modal_input[type="text"]{
    font-family: 'Open Sans', sans-serif;
    padding-left: 0.7rem;
    color: grey;
    font-size: 1.3rem;
}
.modal_footer{
    background-color: #E2CC5A;
    border:none;
}
.modal_button{
    background-color: #e091c2;
    border: #e091c2;
    border-radius: 0px;
    color: whitesmoke;
}
.modal_button:hover{
    background-color: #dd63ae;
    border: #dd63ae;
    border-radius: 0px;
    color: whitesmoke;
}